.header {
    background-color: var(--bs-gray-dark);
    height: var(--header-height);
}

.header-text, .header-text:hover, .header-text:focus {
    color: var(--bs-gray-300);
}

.check {
    color: var(--bs-green);
}

.x {
    color: var(--bs-red);
}