.form-control, .form-control:focus {
    height: var(--search-height);
    z-index: 10;

    border: none;
    
}

.form-control:focus {
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.2);
}

.search-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
}

#search-results {
    position: absolute;
    background-color: rgba(255,255,255,1);
    top: var(--search-height);
    left: 5px;
    right: 5px;
    z-index: 10;
}

.result {
    border-bottom: 1px solid black;
    padding: 5px;
}

.result:last-child {
    border-bottom: none;
}

.result:hover {
    background-color: rgb(150,150,150);
}

.result.selected {
    background-color: rgb(150,150,150);
}